<form action="/players/1" >                
<select name="position_id">
	<option value=''>Quarterback</option>
	<% @players.where("position_id = 1").each do |player| %>
	  <option value="<%= player.position_id %>"><%= player.name %></option>
	<% end %>
</select>
<input type="submit" value="Submit">
</form>

<form action="/players/2" >
<select name="position_id">
	<option value=''>Runningback</option>
	<% @players.where("position_id = 2").each do |player| %>
	  <option value="<%= player.position_id %>"><%= player.name %></option>
	<% end %>
</select>
<input type="submit" value="Submit">
</form>

<form action="/players/3" >
<select name="position_id">
	<option value=''>Wide Receiver</option>
	<% @players.where("position_id = 3").each do |player| %>
	  <option value="<%= player.position_id %>"><%= player.name %></option>
	<% end %>
</select>
<input type="submit" value="Submit">
</form>

<form action="/players/4" >
<select name="position_id">
	<option value=''>Tightend</option>
	<% @players.where("position_id = 4").each do |player| %>
	  <option value="<%= player.position_id %>"><%= player.name %></option>
	<% end %>
</select>
<input type="submit" value="Submit">
</form>

<form action="/players/5" >
<select name="position_id">
	<option value=''>Cornerback</option>
	<% @players.where("position_id = 5").each do |player| %>
	  <option value="<%= player.position_id %>"><%= player.name %></option>
	<% end %>
</select>
<input type="submit" value="Submit">
</form>