
<!-- Instructions -->
<div class="instruction">
	<p>Select a player to see how his off the field activity might impact your fantasy team on Sunday. </p>
</div>


<!-- List of Players -->
<div class="list-of-players">
<h3> Featured Players </h3>
<% @players.each do |player| %>
	<h4><%= link_to player.name, player_path(player.id) %></h4>
	<!-- link_to image_tag(t.photo_url), player_path(t.id) -->
<% end %>
</div>

<!-- Drop Down Menu -->
<div class="form">
	<p> Search by Position </p>
	<form action="/players/1" >                
	<select name="position_id">
		<option value=''>Quarterback</option>
		<% @players.where("position_id = 1").each do |player| %>
		  <option value="<%= player.position_id %>"><%= player.name %></option>
		<% end %>
	</select>
	<input type="submit" value="Submit">
	</form>

	<form action="/players/2" >
	<select name="position_id">
		<option value=''>Running Back</option>
		<% @players.where("position_id = 2").each do |player| %>
		  <option value="<%= player.position_id %>"><%= player.name %></option>
		<% end %>
	</select>
	<input type="submit" value="Submit">
	</form>

	<form action="/players/3" >
	<select name="position_id">
		<option value=''>Wide Receiver</option>
		<% @players.where("position_id = 3").each do |player| %>
		  <option value="<%= player.position_id %>"><%= player.name %></option>
		<% end %>
	</select>
	<input type="submit" value="Submit">
	</form>

	<form action="/players/4" >
	<select name="position_id">
		<option value=''>Tight End</option>
		<% @players.where("position_id = 4").each do |player| %>
		  <option value="<%= player.position_id %>"><%= player.name %></option>
		<% end %>
	</select>
	<input type="submit" value="Submit">
	</form>

	<form action="/players/5" >
	<select name="position_id">
		<option value=''>Cornerback</option>
		<% @players.where("position_id = 5").each do |player| %>
		  <option value="<%= player.position_id %>"><%= player.name %></option>
		<% end %>
	</select>
	<input type="submit" value="Submit">
	</form>
</div>




