<!DOCTYPE html>
<html>
<head>
  <title>TwitterTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<h2><%= link_to 'Fantasy Football Tracker', players_path %> </h2>
	<article><%= link_to 'Home', players_path %></article>
</header>

<%= yield %>

</body>
</html>
